{% extends 'pages/layout.html' %}
{% block body %}

    <div style="text-align: right;">
        <a href="/result">Result</a> <a href="/">Logout</a>
    </div>
    <h1 style="color:rgb(14, 157, 102);background-color:rgb(240, 224, 195);">
        <hr><b><i>Interface</i><b>
    <hr></h1>

    <div>
        {% if Subjects %}
        <table>
                <tr>
                    <th style="color:rgb(42, 100, 78);">
                        Subject_Id
                    </th>
                    <th style="color:rgb(42, 100, 78);">
                        Subject_Name
                    </th>
                    <th style="color:rgb(42, 100, 78);">
                        Credit
                    </th>
                    <th style="color:rgb(42, 100, 78);">
                        remainSeat
                    </th>
                </tr>
                {% for subject in Subjects %}
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td>{{subject.Id }}</td>
                        <td>{{subject.Name }}</td>
                        <td>{{subject.Credit}}</td>
                        <td>{{subject.remainSeat}}</td>
                        {% if subject.remainSeat != 0 %}
                                <td><button type="submit" value= {{subject.Id}} name="sub">submit</button>
                        {% endif %}
                    </form></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>*No Course Available.*<h3>
        {% endif %}
    </div>

{% endblock %}
