{% extends "pages/layout.html" %}
{% block body %}

<div style="text-align: right;">
    <a href="/home">Back</a> <a href="/">Logout</a>
</div>
<h1 style="color:rgb(14, 157, 102);background-color:rgb(240, 224, 195);">
    <hr><b><i>Result</i></b>
<hr></h1>
<h3 style="color:rgb(19, 79, 134);"><u>Course</u></h3>
    {% if Courses%}
        <table>
            <tr>
                <th style="color:rgb(42, 100, 78);">
                    Subject_Id
                </th>
                <th style="color:rgb(42, 100, 78);">
                    Subject_Name
                </th>
                <th style="color:rgb(42, 100, 78);">
                    Credit
                </th>
            </tr>
            {% for subject in Courses %}
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td>{{subject.Id }}</td>
                        <td>{{subject.Name }}</td>
                        <td>{{subject.Credit}}</td>
                        <td><button type="submit" value= {{subject.Id}} name="cou">delete</button>
                    </form></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>*No Course Available.*<h3>
    {% endif %}

{% endblock %}